<% include ../common/header.ejs  %>
<link rel="stylesheet" href='/css/settings.css'>



<script>
    function SettingCtrl($scope,$http){
        
        $scope.user = "";
        
        $http.get('/a/u', {})
        .success(function(data, status, headers, config) {
            if(data){
                $scope.user = {
                    _id:data.user._id,
                    displayName:data.user.displayName,
                    username:data.user.username,
                    description:HTMLTextToTextAreaVal(data.user.description)
                }
                $('#description').val($scope.user.description).trigger('autosize.resize');
            }else{
                //失敗
                showAlertWithTypeMessage('alert-warning',"エラーだよん！")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"通信エラーだよん！")
        });
        
        $scope.showIconModal = function(){
            $('#iconModal').modal('show');
        }
        
        $scope.updata = function(){
            $http.post('/a/u', {
                _method:"PUT",
                user:{
                    _id:$scope.user._id,
                    displayName:$scope.user.displayName,
                    username:$scope.user.username,
                    description:TextareaValToHTMLText($scope.user.description)
                }
            })
            .success(function(data, status, headers, config) {
                if(data.result){
                    $scope.user = data.user;
                    $scope.user.description = HTMLTextToTextAreaVal($scope.user.description);
                    
                    showAlertWithTypeMessage('alert-success',"変更を保存したよん！")
                }else{
                    //失敗
                    showAlertWithTypeMessage('alert-warning',"エラーだよん！")
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"通信エラーだよん！")
            });
        }
        
        $scope.deleteAccount = function(){
            $http.post('/a/u', {
                _method:"DELETE"
            })
            .success(function(data, status, headers, config) {
                if(data.result){
                    //アカウント削除成功
                    document.location = "/logout";
                }else{
                    //失敗
                    showAlertWithTypeMessage('alert-warning',"エラーだよん！")
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"通信エラーだよん！")
            });
        }
        
    }
</script>

<div class="container main" ng-controller="SettingCtrl">
    <div class="row">
        <!-- % include settings-nav.ejs % -->
        
        
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-header">
                <h3>プロフィール</h3>
                <p>プロフィールを編集できます</p>
            </div>
            <div class="well well-contents">
                <div class="profile">
                    <img id="usericon" class="icon"  src="/<%= data._id %>/icon"/>
                    <button class="btn btn-xs  button btn-info" ng-click="showIconModal()" style="width:150px">変更する</button>
                </div>
                
                <table class="table setting">
                    <tbody>
                        <tr>
                            <td>ユーザーネーム</td>
                            <td>
                                <input  type="text" name="username" class="name natural" ng-model="user.username" placeholder="<%= data.username%>">
                            </td>
                        </tr>
                        <tr>
                            <td>表示名</td>
                            <td>
                                <input  type="text" name="displayName" class="name natural" ng-model="user.displayName" placeholder="<%= data.displayName%>" >
                            </td>
                        </tr>
                        <tr>
                            <td>自己紹介</td>
                            <td>
                                <textarea id="description" class="natural autosize" placeholder="<%= data.description%>" ng-model="user.description" ></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="button btn btn-success" ng-click="updata()">変更を保存</button>
            </div>
            
            
            <button class="btn btn-danger" ng-click="deleteAccount()">アカウントを削除</button>
            
        </div>
    </div>
</div>



<script>
    function PostIconCtrl($scope,$http){
        $scope.postNewIcon = function(){
            
            var imageUrl = trimImage();
            
            $http.post('/a/u/icon', {
                _method:"put",
                dataUrl:imageUrl
            })
            .success(function(data, status, headers, config) {
                if(data.result){
                    showAlertWithTypeMessage('alert-success',"成功だよん！");
                    var url = $("img#usericon").attr("src");
                    $("img#usericon").attr("src",url+"?");
                }else{
                    //失敗
                    showAlertWithTypeMessage('alert-warning',"エラーだよん！");
                }
                $scope.displayTitle = "";
            })
            .error(function(data, status, headers, config) {
                showAlertWithTypeMessage('alert-warning',"通信エラーだよん！")
            });
            $('#iconModal').modal('hide');
        }
    }
</script>

<!-- Modal -->
<div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="PostIconCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">アイコンを変更する</h4>
            </div>
            <div class="modal-body">
                
                
                <div style="text-align:center;">
                    
                    <canvas id="view_canvas" 
                            onmousemove="onCanvasMouseMove(event);"
                            onmousedown="onCanvasMouseDown(event);"
                            onmouseup="onCanvasMouseUp();"
                            onmouseout="onCanvasMouseUp();"
                            style="border:solid 1px black;"></canvas>
                    
                    <br/>
                    <input type="range" id="image_ratio" min="0" max="100" value="0" style="width:320px;">
                    <br/>        
                </div>
                
                <!-- フォームで送らないので外に出す
<form action="/user/icon" enctype="multipart/form-data"  method="post">
</form> -->
                <canvas id="trim_canvas" style="display:none;"></canvas>
                <input id="lefile" type="file" name="upfile" style="display:none" onchange="preview(this);">
                
                
                <script src="/js/iconEditor.js"></script>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="button btn btn-default" onclick="$('input#lefile').click();">ブラウズ</button>
                <button type="button" class="btn btn-primary post-dream" ng-disabled="postdreamform.$invalid" ng-click="postNewIcon()">アップロード</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<% include ../common/footer.ejs  %>