<% include ./common/header.ejs  %>

<script>
    
    function GrobalCtrl($scope,$http) {
        //全体で使いたい関数 common.jsにある関数等をここでリンクさせると{{}}というバインディングの中で使える
        $scope.timeToWords = timeToWords;
        $scope.changeTimeZone = changeTimeZone;
        
        
        $scope.session_id = "<%= session._id %>";
        
        $scope.sessionuser = "";
        $scope.sessiondreams = "";
        
        
        if($scope.session_id.toString() != "undefined"){
            //ログインしてるとき
            
            
            $http.get('/a/u', {})
            .success(function(data, status, headers, config) {
                if(data){
                    $scope.sessionuser = data.user;
                }else{
                    //失敗
                    console.log("ユーザーデータの読み込みでエラーが発生しました")
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"エラーだよん！")
            });
            
            
            $http.get('/a/u/dream', {})
            .success(function(data, status, headers, config) {
                if(data.result){
                    console.log(data.dreams);
                    $scope.sessiondreams = Enumerable.From(data.dreams).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
                }else{
                    //失敗
                    showAlertWithTypeMessage('alert-warning',"あれれ？エラーだよん！");
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"エラーだよん！")
            });
            
            
            
            
        }else{
            //ログインしてないとき
        }
        
        
        
        //pageuser関係
        $scope.pageuser_id = "<%= pageuser._id %>"
        $scope.pageuser = ""
        $scope.dreams = "";
        $scope.journals = "";
        
        
        
        //dreampage特有
        $scope.dream_id = "<%= dream._id %>";
        $scope.dream = "";
        
        
        //dreamの読み込み
        $http.get('/a/'+ $scope.pageuser_id + '/dream/'+$scope.dream_id, {})
        .success(function(data, status, headers, config) {
            if(data.result){
                
                $scope.dream = data.dream;
                $scope.dream.createdAt = changeTimeZone(new Date($scope.dream.createdAt),9);
                
                
                var msec = (new Date()).getTime() - $scope.dream.createdAt.getTime();
                var mday = Math.floor(msec/(1000*60*60*24));
                $scope.dream.past = mday;
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました");
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"エラーだよん！")
        });   
        
        
        
        
        
        
        
        
        $http.get('/a/'+$scope.pageuser_id, {})
        .success(function(data, status, headers, config) {
            if(data.result){
                console.log(JSON.stringify(data));
                $scope.pageuser = data.user;
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"エラーだよん！")
        });
        
        
        
        
        //dreamsの読み込み
        $http.get('/a/'+$scope.pageuser_id+'/dream', {})
        .success(function(data, status, headers, config) {
            if(data){
                console.log(data.dreams);
                $scope.dreams = Enumerable.From(data.dreams).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
                
                
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"エラーだよん！")
        });
        
        
        
        //journalの読み込み
        $http.get('/a/'+ $scope.pageuser_id + '/dream/'+$scope.dream_id+'/journal', {})
        .success(function(data, status, headers, config) {
            if(data.result){
                $scope.journals = Enumerable.From(data.journals).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"エラーだよん！")
        });   
        
        
    }
    
    
    
    function JournalCtrl($scope, $http) {
        
        //もっと読むを表示するためのフラグ
        $scope.canReadMore = true;
        $scope.readMore = function() {
            
            //夢用だけ
            $http.get('/a/'+ $scope.pageuser_id + '/dream/'+$scope.dream_id+'/journal', {params: {skip:$scope.$parent.journals.length}})
            .success(function(data, status, headers, config) {
                if(data.result){
                    if(data.journals.length == 0){
                    }else{
                        data.journals = Enumerable.From(data.journals).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
                        Array.prototype.push.apply($scope.$parent.journals,data.journals);
                    }
                    if(data.journals.length < 20){
                        $scope.canReadMore = false;
                    }
                }else{
                    //失敗
                    showAlertWithTypeMessage('alert-warning',"エラーだよん！")
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"エラーだよん！")
            });
        };
    }
    
</script>



<div class="container main">
    <div class="row">
        <% include ./userpage_nav.ejs %>        
        
        <div class="col-md-7" style="background-color:white;">
            
            <div ng-controller="JournalCtrl">
                <style>
                    div#dreamHeader{
                        text-align:left;
                        font-size:1.3em;
                    }
                    
                    div#dreamHeader .title{
                        font-size:2em;
                    }
                    
                    div#dreamHeader .data{
                        padding-top:2em;
                        font-size:small;
                    }
                </style>
                <div id="dreamHeader" class="post" style="">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="title" ng-bind="$parent.dream.displayTitle"></div>
                            <div class="data">
                                {{dream.past}}日目<br>
                                From {{  timeToWords($parent.dream.createdAt) }}
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <img ng-if="dream.past == 0" ng-src="/badge/level1.png" style="padding:0;margin:0;height:120px;text-align:center;">
                            <img ng-if="dream.past == 1" ng-src="/badge/level2.png" style="padding:0;margin:0;height:120px;text-align:center;">
                            <img ng-if="dream.past == 2" ng-src="/badge/level3.png" style="padding:0;margin:0;height:120px;text-align:center;">
                            <img ng-if="dream.past == 3" ng-src="/badge/level4.png" style="padding:0;margin:0;height:120px;text-align:center;">
                        </div>
                    </div>
                </div><!-- dreamHeader -->
                
                <div ng-repeat="journal in journals | orderBy:'createdAt':true" class="post container">
                    <div class="row">
                        <div class="col-xs-2">
                            <a ng-href="/{{journal.user.username}}"><img style="width:50px;height:50px;"   ng-src="/{{pageuser.username}}/icon"></a>
                        </div>
                        <div class="col-xs-10">
                            <div class="post_title" ng-if="journal.displayTitle" ng-bind="journal.displayTitle"></div>
                            <div class="date">
                                <a href="/{{ journal.user.username}}/dream/{{ journal.dream._id}}">
                                    {{ journal.dream.displayTitle}}<br>
                                </a>
                                {{ timeToWords(journal.createdAt) }}
                            </div>
                            <div ng-bind-html="journal.body"></div>   
                        </div>
                    </div>
                </div><!--post-->
                <button class="btn btn-primary post-bottom" ng-click="readMore()" ng-show="canReadMore" >もっと読み込む</button>
                <div class="post-bottom post" ng-show="!canReadMore">これ以上の投稿はありません</div>
            </div>
        </div>
    </div>
    <div class="" style="height:1px"></div>
</div><!-- main -->


<!--<script src="/socket.io/socket.io.js"></script>-->


<% include ./common/footer.ejs  %>
