<% include ./common/header.ejs  %>


<script>
    
    function GrobalCtrl($scope,$http) {
        //全体で使いたい関数 common.jsにある関数等をここでリンクさせると{{}}というバインディングの中で使える
        $scope.timeToWords = timeToWords;
        $scope.changeTimeZone = changeTimeZone;
        
        
        $scope.session_id = "<%= session._id %>";
        
        $scope.sessionuser = "";
        $scope.sessiondreams = "";
        $scope.timeline = "";
        
        
        if($scope.session_id.toString() != "undefined"){
            //ログインしてるとき
            
            
            $http.get('/a/u', {})
            .success(function(data, status, headers, config) {
                if(data){
                    $scope.sessionuser = data.user;
                }else{
                    //失敗
                    console.log("ユーザーデータの読み込みでエラーが発生しました")
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"エラーだよん！")
            });
            
            
            $http.get('/a/u/dream', {})
            .success(function(data, status, headers, config) {
                if(data.result){
                    console.log(data.dreams);
                    $scope.sessiondreams = Enumerable.From(data.dreams).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
                }else{
                    //失敗
                    showAlertWithTypeMessage('alert-warning',"あれれ？エラーだよん！");
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"エラーだよん！")
            });
            
            
            
            
        }else{
            //ログインしてないとき
        }
        
        
        //pageuser関係
        $scope.pageuser_id = "<%= pageuser._id %>"
        $scope.pageuser = ""
        $scope.dreams = "";
        $scope.journals = "";
        
        $http.get('/a/'+$scope.pageuser_id, {})
        .success(function(data, status, headers, config) {
            if(data.result){
                console.log(JSON.stringify(data));
                $scope.pageuser = data.user;
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"エラーだよん！")
        });
        
        //dreamの読み込み
        $http.get('/a/'+$scope.pageuser_id+'/dream', {})
        .success(function(data, status, headers, config) {
            if(data){
                console.log(data.dreams);
                $scope.dreams = Enumerable.From(data.dreams).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"エラーだよん！")
        });
        
        //journalの読み込み
        $http.get('/a/' + $scope.pageuser_id + '/journal', {})
        .success(function(data, status, headers, config) {
            if(data.result){
                $scope.journals = Enumerable.From(data.journals).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            showAlertWithTypeMessage('alert-warning',"エラーだよん！")
        });   
    }
    
    
    
    function JournalCtrl($scope, $http) {
        
        //もっと読むを表示するためのフラグ
        $scope.canReadMore = true;
        $scope.readMore = function() {
            
            $http.get('/a/'+$scope.$parent.pageuser_id+'/journal', {params: {skip:$scope.$parent.journals.length}})
            .success(function(data, status, headers, config) {
                if(data.result){
                    if(data.journals.length == 0){
                    }else{
                        data.journals = Enumerable.From(data.journals).Where(function(i){i.createdAt = changeTimeZone(new Date(i.createdAt),9);return true;}).ToArray();
                        Array.prototype.push.apply($scope.$parent.journals,data.journals);
                    }
                    if(data.journals.length < 20){
                        $scope.canReadMore = false;
                    }
                }else{
                    //失敗
                    showAlertWithTypeMessage('alert-warning',"エラーだよん！")
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                showAlertWithTypeMessage('alert-warning',"エラーだよん！")
            });
        };
    }
    
</script>

<div class="container main">
    <div class="row">
        
        <% include ./userpage_nav.ejs %>
        
        
        <div class="col-md-7" style="background-color:white;">
            <div class="well">
                <h3>フォロワー</h3>
                <p><%= pageuser.displayName %>のフォロワー</p>
            </div>
            
            <% for(i=0;i<pageuser.follower.length;i++){ %>
            <% var follow = pageuser.follower[i];  %>
            <div class="well people">
                <div><a href="/<%= follow.username %>"><%= follow.username %></a></div>
                <img class=""  style="width:100px;border-radius: 10px;" src="/<%= follow._id %>/icon"/>
                <div><%= follow.displayName %></div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="" style="height:1px"></div>
</div>


<!--<script src="/socket.io/socket.io.js"></script>-->


<% include ./common/footer.ejs  %>
