<% include ./common/header.ejs  %>

<style>
    
    
    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
    
    /* サイズ指定 */
    .img-circle{
        width:150px;
        height:150px;
    }
    
    #myCarousel{
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        min-height:600px;
        //background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-image:url(indexImg/1.jpg);
        
        margin-bottom:60px;
    }
    
    
    /* MARKETING CONTENT
    -------------------------------------------------- */
    
    /* Pad the edges of the mobile views a bit */
    .marketing {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /* Center align the text within the three columns below the carousel */
    .marketing .col-sm-4 {
        text-align: center;
        margin-bottom: 20px;
    }
    .marketing h2 {
        font-weight: normal;
    }
    .marketing .col-lg-4 p {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    
    /* Featurettes
    ------------------------- */
    
    .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    
    /* Thin out the marketing headings */
    .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
    }
    .featurette img{
        //height:500px;
        //width:500px;
    }
    
    
    
    /* RESPONSIVE CSS
    -------------------------------------------------- */
    
    @media (min-width: 768px) {
        
        /* Remove the edge padding needed for mobile */
        .marketing {
            padding-left: 0;
            padding-right: 0;
        }
        
        
        .featurette-heading {
            font-size: 50px;
        }
        
        
    }
    
    @media(max-width:992px){
        
        
        #myCarousel>.container>.row{
            position: absolute !important;
            bottom: 40px;
        }
    }
    
    @media (min-width: 992px) {
        .featurette-heading {
            margin-top: 120px;
        }
    }
    .Carousel-Caption{
        color:white;
        margin-top:50px;
        text-shadow: 2px 2px 6px black;
    }
    .Carousel-Caption h1{
        font-size:2em;
        line-height: 2em;
    }
    #myCarousel>.container{
        height:100%;
        bottom:0;
    }
</style>

<!-- Carousel
================================================== -->
<div id="myCarousel">
    <!-- Indicators -->
    <div class="container">
        <div class="row">
            <div class="Carousel-Caption col-md-5 col-md-offset-7">
                <h1>あなたの人生がうまくいく、<br>いちばんスマートな方法です。</h1>
                <p>Grapham は私たちの意志の力を最大化するためのソーシャルネットワークです。</p>
                <br>
                <br>
                
                現在クローズドαテストに向けて製作中です。<br>
                ご興味のある方は<a href="https://twitter.com/ryutamatsuno" target="_brank" style="color:aqua"> Twitter - ryutamatsuno </a>にご連絡ください。
                <!--事前登録用
<p><a class="btn btn-lg btn-success" href="/#advanced-registration">事前登録はこちら！</a></p>
-->
                <!--<p><a class="btn btn-lg btn-success" href="/login">サインアップまたはログイン</a></p>-->
            </div>
        </div>
    </div>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle" src="https://farm6.staticflickr.com/5210/5239541973_fabcba2543_q.jpg" alt="Generic placeholder image">
            <h2>みんなの夢がわかります</h2>
            <p>Graphamでは最初に夢を登録します。なのでみんなの夢がわかります。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-circle" src="indexImg/1.jpg" alt="Generic placeholder image">
            <h2>運命が回り出します</h2>
            <p>夢を言葉に、文字に、形にすることで、あなたの運命が巡り始めます。人、情報、アイデア。それらが円滑に届くシステム、それがGraphamです。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-circle" src="indexImg/1.jpg" alt="Generic placeholder image">
            <h2>良い人生を送れます</h2>
            <p>夢を描き、実現すること。これ以上にクールなことはありません。</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    
    
    <!-- START THE FEATURETTES -->  
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">やりたい事を見つけたら、<span class="text-muted">まず登録しましょう</span></h2>
            <p class="lead">
                私たちがやりたいことを見つけた時はまず最初にGraphamに登録しましょう。Graphamは頭のスイッチをオンにするSNSです。
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="/indexImg/painter.jpg">
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="https://farm8.staticflickr.com/7164/6449320395_c39bd50b92.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">仲間を<span class="text-muted">見つけましょう</span></h2>
            <p class="lead">
                「何をしたいか」以上にその人を説明する要素はありません。あなたが何をしようとしているのか、それを世界に示すことは究極の自己紹介なんです。
            </p>
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <!--

<div class="row featurette">
<div class="col-md-7">
<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>
<div class="col-md-5">
<img class="featurette-image img-responsive" src="indexImg/2.jpg" alt="Generic placeholder image">
</div>
</div>

<hr class="featurette-divider">
-->
    
    <!-- /END THE FEATURETTES -->
    
    
    
    
    
    <!--
<div id="advanced-registration"></div>
<div class="row featurette">
<div style="height:300px"></div>
<div class="col-md-12" style="text-align:center">
<h2 class="featurette-heading">メールアドレスを登録してください。</h2>
<p class="lead">
このwebサービスを世界でもっとも早く使うことができるようになります。
</p>
<div style="margin:20px;">
<from type="POST" action="">
<input name"email" type="text" placeholder="Eメールアドレス" style="width:320px;border:1px #bbb solid;text-align:left;cursor:default;" class="btn">
<button type="submit" class="btn btn-primary">事前登録する</button>
</from>
</div>
</div>
</div>
<div style="height:300px"></div>
<hr class="featurette-divider">
-->
</div>



<% include ./common/footer.ejs  %>
