<% include ./common/header.ejs  %>
<style>
    .login_menu{
        width:380px;
        margin:30px auto;
        padding:30px 40px 20px 40px;
        border:1px #222 solid;
        border-radius:10px;
    }
    
    .login_menu a{
        display:block;
        width:100%;
        padding:15px;
        margin:10px 0;
        text-align:center;
    }
    
    .login_menu h1{
        display:block;
        margin-bottom:30px;
        font-size:23px;
    }
</style>
<div class="container main">
    <div class="login_menu">
        <h1>Grapham にログイン</h1>
        <a class="button btn btn-default btn-block" href="/login/facebook" style="background-color:#3b5998;color:white;">Facebook でログイン</a>
        <a class="" style="text-align:right;padding-bottom:0;font-size:small" href="/">トップに戻る</a>
    </div>
</div>

<% include ./common/footer.ejs  %>