<% include ./common/header.ejs  %>

<style type="text/css">
    .main{
        padding-top:10px;
        /*margin-bottom:30px;*/
    }
    .main .container,h1{
        text-align:center;
        font-weight:bold;
    }
</style>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>このページはご利用頂けません</h1>
                <div style="width:400px; height:400px; overflow:hidden; margin:20px auto;">
                    <img src="/img/gre_deer.png" width="100%">
                </div>
                <div>
                    リンクに問題があるか、ページが削除された可能性があります。<br><br>
                </div>
                <a href="javascript:window.history.back();">前のページに戻る</a>・<a href="/">トップに戻る</a>
            </div>
        </div>
    </div>
</div><!-- main -->
<% include ./common/footer.ejs  %>