<% include ./common/header.ejs  %>

<div class="container main">
    
    <div class="row">
        <div class="col-md-4" id="sidebar" role="navigation">
            <div class="list-group">
                <a href="#" class="list-group-item active">ユーザー名</a>
                <a href="#" class="list-group-item">準備中</a>
            </div>
        </div><!--/span-->
        
        
        <div class="col-md-8">
            <div class="well">
                <h3>"<%= searchWord %>"の検索結果</h3>
                <p>検索結果を表示します</p>
            </div>
            
            <%  if(searchResult.length == 0){  %>
            <div class="well">
                "<%= searchWord %>"の検索結果は何もありません。
            </div>
            <% }else{ %>
            
            
            
            <% for(var i=0;i<searchResult.length;i++){ %>
            <% var data = searchResult[i];  %>
            <div class="well">
                <a href="/<%= data.username %>">
                    <img class=""  style="width:100px;border-radius: 10px;" src="/<%= data._id %>/icon"/>
                    <%= data.displayName %>
                </a>
                <!--div><%= searchResult[i].description %></div-->
            </div>
            <% } %>
            
            <% } %>
        </div>
        
    </div>
</div>

<% include ./common/footer.ejs  %>