<% include ./common/header.ejs  %>


<style>
    
    textarea#description{
        display:block;
        width:100%;
        min-height:100px;
        resize: vertical;
    }
    .ng-invalid{
        border-color:red;
        outline-color:red;
    }
    span.error{
        color:red;
    }
    span.valid{
        color:limegreen;
    }
    
</style>


<script>
    function SignUpCtrl($scope,$http){
        $scope.user = <%- JSON.stringify(user) %>;
        
        
        $scope.signin = function(){
            var work = $scope.user.description;
            $scope.user.description = textareaValToHTMLText($scope.user.description);
            
            
            $http.post('/a', {
                user:$scope.user
            })
            .success(function(data, status, headers, config) {
                if(data.result){
                    document.location = "/";
                }else{
                    showAlertWithTypeMessage('alert-warning',"エラーだよん！")
                    $scope.user.description = work;
                }
            })
            .error(function(data, status, headers, config) {
                showAlertWithTypeMessage('alert-warning',"通信エラーだよん！")
                $scope.user.description = work;
            });
        }
    }
</script>


<div class="container main" ng-controller="SignUpCtrl">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>サインアップ</h1>
            <p>Graphamにようこそ！<br>以下の内容でサインアップします。</p>
            <div class="well well-contents">
                <form name="signupform">
                    <table class="table setting">
                        <tbody>
                            <tr>
                                <td>
                                    ユーザーネーム<br>
                                    <span class="error" ng-show="signupform.username.$error.required">必須</span>
                                    <span class="error" ng-show="signupform.username.$error.minlength">4文字以上です</span>
                                    <span class="error" ng-show="signupform.username.$error.pattern">小文字の半角英数字と_のみです</span>
                                    <span class="valid" ng-show="signupform.username.$valid">OK</span>
                                </td>
                                <td>
                                    <input  type="text" name="username" class="name natural" ng-model="user.username" ng-pattern="/^[a-z][a-z0-9_]*$/" ng-minlength="4" required>
                                </td>
                            </tr>
                            <tr>
                                <td>表示名<br>
                                    <span class="error" ng-show="signupform.displayName.$error.required">必須</span>
                                    <span class="error" ng-show="signupform.displayName.$error.minlength">4文字以上です</span>
                                    <span class="error" ng-show="signupform.displayName.$error.maxlength">30文字以内です</span>
                                    <span class="valid" ng-show="signupform.displayName.$valid">OK</span>
                                </td>
                                <td>
                                    <input  type="text" name="displayName" class="name natural" ng-model="user.displayName" required ng-minlength="4" ng-maxlength="30">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    自己紹介  {{ 140 - user.description.length }}<br>
                                    <span class="error" ng-show="signupform.description.$invalid">140文字以内です</span>
                                    <span class="valid" ng-show="signupform.description.$valid">OK</span>
                                    
                                </td>
                                <td>
                                    <textarea id="description" name="description" class="natural autosize"  ng-model="user.description" ng-maxlength="140"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <button class="btn button btn-success" ng-disabled="signupform.$invalid"   ng-click="signin()" style="float:right; padding:10px 50px;">登録する</button>
                <div style="clear:both"></div>
            </div>
            <a class="" style="text-align:right;padding-bottom:0;font-size:small" href="/">トップに戻る</a>
        </div>
    </div>
</div>

<% include ./common/footer.ejs  %>