
<div class="col-md-5">
    <div class="">
        <div class="profile">
            <a ng-href="/{{pageuser.username}}"><img class="icon" ng-if=" pageuser.username != undifined  "  ng-src="/{{pageuser.username}}/icon"></a>
        </div>
        <!-- <div class="name" ng-bind-html-unsaf="name"> -->
        <div class="name"  ng-controller="FollowCtrl">
            <a ng-href="/{{$parent.pageuser.username}}" ng-bind="$parent.pageuser.displayName"></a>
            <a href="javascript:void(0);"  class="btn btn-primary following" ng-show="IsFollow" ng-click="unfollow()">フォロー中</a>
            <a href="javascript:void(0);"  class="btn btn-default follow" ng-show="!IsFollow" ng-click="dofollow()">フォローする</a>
        </div>
        <div ng-bind-html="pageuser.description"></div>
        
        
        <div class="links">
            <div class="link">
                <a href="https://www.facebook.com/{{pageuser.facebook.username}}" target="_blank"><img src="/img/FB-f-Logo__blue_50.png" style="height:23px;"></a></div>
        </div>
    </div>
    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-xs-6"><a ng-href="/{{pageuser.username}}/follow">フォロー:{{pageuser.follow.length}}</a></div>
                <div class="col-xs-6"><a ng-href="/{{pageuser.username}}/follower">フォロワー:{{pageuser.follower.length}}</a></div>
            </div>
        </div>
    </div>
    <div class="well">
        
        <h1>My Dreams</h1>        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="50px">No</th>
                    <th width="60%">Name</th>
                    <th width="180px">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dream in dreams">
                    <td ng-bind="$index + 1"></td>
                    <td>
                        <a href="/{{pageuser.username}}/dream/{{ dream._id }}" ng-bind="dream.displayTitle"></a>
                    </td>
                    <td ng-bind="timeToWords(dream.createdAt)"></td>
                </tr>
            </tbody>            
        </table>
        
    </div>
</div>
