<% include ./common/header.ejs  %>
<script>
    function GrobalCtrl($scope,$http) {
        //全体で使いたい関数 common.jsにある関数等をここでリンクさせると{{}}というバインディングの中で使える
        
        
        //アラート表示用
        $scope.alerts = [
            //{ type: 'danger', msg: 'Oh snap! Change a few things up and try submitting again.' },
            //{ type: 'success', msg: 'Well done! You successfully read this important alert message.' }
        ];
        $scope.addAlert = function() {
            $scope.alerts.push({ type: 'warning',msg: "Another alert!"});
        };
        
        $scope.closeAlert = function(index) {
            $scope.alerts.splice(index, 1);
        };
        
        
        
        
        $scope.timeToWords = timeToWords;
        $scope.changeTimeZone = changeTimeZone;
        $scope.parseDate = parseDate;
        
        
        $scope.session_id = "<%= session._id %>";
        
        $scope.sessionuser = "";
        $scope.sessiondreams = "";
        $scope.timeline = "";
        
        $http.get('/a/u', {})
        .success(function(data, status, headers, config) {
            if(data){
                $scope.sessionuser = data.user;
            }else{
                //失敗
                $scope.alerts.push({ type: 'warning',msg: "ユーザーデータの読み込みでエラーが発生しました"});
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
        });
        
        
        $http.get('/a/u/dream', {})
        .success(function(data, status, headers, config) {
            if(data.result){
                console.log(data.dreams);
                $scope.sessiondreams = Enumerable.From(data.dreams).Where(function(i){i.createdAt = changeTimeZone(parseDate(i.createdAt),9);return true;}).ToArray();
            }else{
                //失敗
                $scope.alerts.push({ type: 'warning',msg: "エラーだよん！"});
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
        });
        
        
        $http.get('/a/u/timeline', {})
        .success(function(data, status, headers, config) {
            if(data.result){
                $scope.timeline = Enumerable.From(data.journals)
                .Where(function(i){
                    i.createdAt = changeTimeZone(parseDate(i.createdAt),9);
                    i.comments = Enumerable.From(i.comments).Where(function(comment){
                        comment.createdAt = changeTimeZone(parseDate(comment.createdAt),9);
                        return true;
                    }).ToArray();
                    return true;
                }).ToArray();
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
        });
        
        
        
        
        
        $scope.recommended = "";
        
        $http.get('/a/u/recommended', {})
        .success(function(data, status, headers, config) {
            if(data.result){
                $scope.recommended = data.recommended;
                console.log(data.recommended);
            }else{
                //失敗
                console.log("ユーザーデータの読み込みでエラーが発生しました")
            }
        })
        .error(function(data, status, headers, config) {
            //エラーを出力するとか
            $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
        });
        
        
        
        
    }
    
    
    function JournalCtrl($scope, $http) {
        
        //もっと読むを表示するためのフラグ
        $scope.canReadMore = true;
        $scope.readMore = function() {
            
            $http.get('/a/u/timeline', {params: {skip:$scope.$parent.timeline.length}})
            .success(function(data, status, headers, config) {
                if(data.result){
                    if(data.journals.length == 0){
                    }else{
                        data.journals = Enumerable.From(data.journals).Where(function(i){i.createdAt = changeTimeZone(parseDate(i.createdAt),9);return true;}).ToArray();
                        Array.prototype.push.apply($scope.$parent.timeline,data.journals);
                    } 
                    if(data.journals.length < 20){
                        $scope.canReadMore = false;
                    }                               
                }else{
                    //失敗
                    $scope.alerts.push({ type: 'warning',msg: "エラーだよん！"});
                }
            })
            .error(function(data, status, headers, config) {
                //エラーを出力するとか
                $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
            });
        };
        
        $scope.deleteJournal = function(journalId){
            $http.post('/a/u/journal/'+journalId, {_method:"delete"}).
            success(function(data, status, headers, config) {
                if(data.result){
                    //削除
                    $scope.$parent.timeline.some(function(journal, i){
                        if (journal._id.toString() == journalId.toString())  $scope.$parent.timeline.splice(i,1); //id:3の要素を削除
                    });
                }else{
                    $scope.alerts.push({ type: 'warning',msg: "エラーだよん！"});
                }
            }).
            error(function(data, status, headers, config) {
                //エラーを出力するとか
                //ここに来てる
                $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
            });
        };
        
        $scope.addComment = function(journalId,commentBody){
            $http.post('/a/u/comment', {
                journalId:journalId,
                commentBody:commentBody
            }).
            success(function(data, status, headers, config) {
                if(data.result){
                    data.comment.createdAt = changeTimeZone(parseDate(data.comment.createdAt),9);
                    //timelinenの中にpushする
                    $scope.$parent.timeline.some(function(journal, i){
                        if (journal._id.toString() == journalId.toString()){
                            data.comment.user = $scope.$parent.sessionuser;
                            journal.comments.push(data.comment);
                            return true;
                        }
                    });
                }else{
                    $scope.alerts.push({ type: 'warning',msg: "エラーだよん！"});
                }
            }).
            error(function(data, status, headers, config) {
                //エラーを出力するとか
                //ここに来てる
                $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
            });
        }
        
        $scope.deleteComment = function(commentId,journalId){
            
            $http.post('/a/u/comment/'+commentId, {
                _method:"delete"
            }).
            success(function(data, status, headers, config) {
                if(data.result){
                    //timelinenからsplice
                    $scope.$parent.timeline.some(function(journal, i){
                        if (journal._id.toString() == journalId.toString()){
                            //目的のjournal発見！
                            journal.comments.some(function(comment,j,array){
                                if(comment._id.toString() === commentId.toString()){
                                    //目的のコメント発見
                                    array.splice(j,1);
                                    return true;
                                }
                            });
                            return true;
                        }
                    });
                }else{
                    $scope.alerts.push({ type: 'warning',msg: "エラーだよん！"});
                }
            }).
            error(function(data, status, headers, config) {
                //エラーを出力するとか
                //ここに来てる
                $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
            });
        }
        
        
        $scope.likeJournal = function(journalId){
            $http.post('/a/journal/'+journalId+'/like', {}).
            success(function(data, status, headers, config) {
                if(data.result){
                    //成功
                    $scope.$parent.timeline.some(function(journal, i){
                        if (journal._id.toString() == journalId.toString()){
                            if(journal.likeCount == null){
                                journal.likeCount = 0;
                            }
                            journal.likeCount++;
                        }
                    });
                }else{
                    $scope.alerts.push({ type: 'warning',msg: "エラーだよん！"});
                }
            }).
            error(function(data, status, headers, config) {
                //エラーを出力するとか
                //ここに来てる
                $scope.alerts.push({ type: 'warning',msg: "通信エラーだよん！"});
            });
        }
    };
    
    /* コメントする用 */
    function CommentCtrl($scope){
        $scope.commentBody = "";
        $scope.commentSubmit = function(journalId){
            if($scope.commentBody  == ""){
                return;
            }
            $scope.$parent.addComment(journalId,$scope.commentBody);
            $scope.commentBody = "";
        };
    }
</script>

<div class="container main">
    <div class="row">
        <div class="col-md-5">
            <div class="">
                <div class="profile">
                    <a ng-href="/{{sessionuser.username}}"><img class="icon" ng-if=" sessionuser._id != undifined  "  ng-src="/{{sessionuser._id}}/icon"/></a>
                </div>
                <div class="name">
                    <a ng-href="/{{sessionuser.username}}" ng-bind="sessionuser.displayName"></a>
                </div>
            </div>
            <div class="well">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6"><a ng-href="/{{sessionuser.username}}/follow">フォロー:{{sessionuser.follow.length}}</a></div>
                        <div class="col-xs-6"><a ng-href="/{{sessionuser.username}}/follower">フォロワー:{{sessionuser.follower.length}}</a></div>
                    </div>
                </div>
            </div>
            
            <div class="well">
                <div ng-if="recommended.length == 0">おすすめのユーザーはいません</div>
                <div ng-if="recommended.length != 0">おすすめのユーザー</div>
                <div ng-repeat="recommendeduser in recommended">
                    <a target="_blank"  ng-href="/{{recommendeduser.username}}">
                        <img ng-src="/{{recommendeduser.username}}/icon" style="width:50px">{{recommendeduser.displayName}}
                    </a>
                </div>
            </div>
            
            
            
            <div class="well">
                <h1>My Dreams</h1>
                
                <table class="table table-hover" ng-controller="DreamCtrl">
                    <thead>
                        <tr>
                            <th width="50px">No</th>
                            <th width="60%">Name</th>
                            <th width="180px">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dream in sessiondreams | orderBy:'createdAt':true">
                            <td ng-bind="$index + 1"></td>
                            <td>
                                <a ng-href="/{{$parent.sessionuser.username}}/dream/{{dream._id}}" ng-bind="dream.displayTitle"></a>
                                <br><br>
                                <div>
                                    <button ng-click="deleteDream(dream._id)" class="btn btn-xs btn-danger">Delete</button>
                                </div>
                            </td>
                            <td ng-bind="timeToWords(dream.createdAt)"></td>
                        </tr>
                    </tbody>
                </table>
                
                <form name="addDreamForm" ng-controller="PostDreamCtrl">
                    <input type="text" placeholder="新しい夢はなんですか？" class="form-control" style="width:77%;display:inline-block;" ng-model="displayTitle" required>
                    <button type="button" class="button btn btn-success" style="width:20%;" ng-click="postNewDream()" ng-disabled="addDreamForm.$invalid">追加</button>
                </form>
                
                
                
            </div><!--well  -->
        </div>
        
        
        
        
        <style>
            .comments{
                padding-top:20px;
            }
            .comment{
                padding:10px 0;
                border-top:1px solid #eee;
            }
            .comment div:first-child{
                padding-right:10px;
            }
            .left{
                float:left;
            }
            .clear{
                clear:both;
            }
        </style>
        
        
        
        <div class="col-md-7" style="background-color:white;">
            
            <div class="post">
                <form action="" name="postjournalForm" ng-controller="PostJournalCtrl" ng-show="!(sessiondreams.length == 0)">
                    <input  type="text" name="displayTitle" class="natural" value="" placeholder="タイトル" style="width:100%" onClick="return true" ng-model="newJournal.displayTitle">
                    <input type="text" style="display:none"><!-- inputでエンターしてもsubmitしないようにするため -->
                    <select ng-model="newJournal.dream"  style="width:100%" ng-options="dream._id as dream.displayTitle for dream in sessiondreams"></select><br>
                    <textarea  name="body" class="natural" placeholder="何をしましたか？" style="min-height:100px;width:100%" ng-model="newJournal.body" required></textarea>
                    <button type="button" class="button btn btn-success" ng-disabled="postjournalForm.$invalid" ng-click="postNewJournal()">ポストする</button>
                </form>
            </div>
            
            <div ng-controller="JournalCtrl">
                <div ng-repeat="journal in $parent.timeline| orderBy:'createdAt':true" class="post container">
                    
                    <div ng-if="journal.type == 'event'" class="row">
                        <div class="event">
                            <div class="event_icon">
                                <a ng-href="/{{journal.user.username}}">
                                    <img style="width:80px; border-radius:15%;"   ng-src="/{{journal.user._id}}/icon"><br>
                                    {{journal.user.displayName}}
                                </a>
                                <!-- img src="/img/globe-1.png" -->
                            </div>
                            <div class="title">
                                新しい夢「<a href="/{{ journal.user.username}}/dream/{{ journal.dream._id}}">{{journal.dream.displayTitle}}</a>」を開始しました。
                            </div>
                            <div class="event_date">{{ timeToWords(journal.createdAt) }}</div>
                            <div class="post_footer">
                                <a href="" ng-click="likeJournal(journal._id)">{{journal.likeCount}} Like</a>
                                <a ng-if="$parent.sessionuser._id == journal.user._id" href="" ng-Click="deleteJournal(journal._id)">削除</a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div ng-if="journal.type != 'event'" class="row">
                        <div class="col-xs-2">
                            <a ng-href="/{{journal.user.username}}">
                                <img style="width:50px;height:50px;"   ng-src="/{{journal.user._id}}/icon"><br>
                                {{journal.user.displayName}}
                            </a>
                        </div>
                        <div class="col-xs-10">
                            <div class="post_title" ng-if="journal.displayTitle" ng-bind="journal.displayTitle"></div>
                            <div class="date">
                                <a href="/{{ journal.user.username}}/dream/{{ journal.dream._id}}" ng-bind="journal.dream.displayTitle"></a>
                                <br>
                                {{ timeToWords(journal.createdAt) }}
                            </div>
                            <div ng-bind-html="journal.body"></div>
                            <div class="post_footer">
                                <a href="" ng-click="likeJournal(journal._id)">{{journal.likeCount}} Like</a>
                                <a ng-if="$parent.sessionuser._id == journal.user._id" href="" ng-Click="deleteJournal(journal._id)">削除</a>
                                <a href="">コメント({{journal.comments.length}})</a>
                                
                                
                                <!--コメント部分-->
                                <div class="comments" ng-if="journal.comments.length > 0" >
                                    <div class="comment"  ng-repeat="comment in journal.comments| orderBy:'createdAt':false">
                                        <div style="float:left;">
                                            <img style="width:40px; border-radius:15%;"   ng-src="/{{comment.user.username}}/icon">
                                        </div>
                                        <div style="float:left">
                                            <a ng-href='/{{comment.user.username}}' ng-bind='comment.user.displayName'></a><br><br>
                                            <div ng-bind="comment.body"></div><br>
                                            <p style="font-size:x-small" ng-if="comment.createdAt != null">{{ timeToWords(comment.createdAt) }}</p>
                                            
                                            <div ng-if="$parent.sessionuser._id == comment.user._id">
                                                <a href="" ng-Click="deleteComment(comment._id,journal._id)">削除</a>
                                            </div>
                                            
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div><!--コメント部分-->
                                
                                
                                <div class="comment" ng-Controller="CommentCtrl">
                                    <div style="float:left;">
                                        <img style="width:40px; margin-right:20px; border-radius:15%;"   src="/{{$parent.$parent.sessionuser.username}}/icon">
                                    </div>
                                    <form style="float:left; display:block;" ng-submit="commentSubmit(journal._id)">
                                        <input type="text" placeholder="コメントする" ng-model="commentBody" required>
                                    </form>
                                    <div style="clear:both"></div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div><!--post-->
                <button class="btn btn-primary post-bottom" ng-click="readMore()" ng-show="canReadMore" >もっと読み込む</button>
                <div class="post-bottom post" ng-show="!canReadMore">これ以上の投稿はありません</div>
            </div>
        </div>
    </div>
    <div class="" style="height:1px"></div>
</div>


<!--<script src="/socket.io/socket.io.js"></script>-->


<% include ./common/footer.ejs  %>
