/* 初期化 */

* {
    margin:0;
    padding:0;
}


html,body{
    height:100%;
}


/* 初期化 */


@media (min-width: 980px){}
@media (max-width: 980px){}


body {
    height: 100%;
    min-height:600px;
    padding-top: 50px;
    background-color:white;
}

div.well {
    background-color:transparent;
}

div.main{
    min-height:100%;
    height:auto;
    margin-bottom:-50px;
    padding-bottom:60px;/* 下に10pxとる*/
    padding-top:20px;
    
    
    /*アニメーション指定*/
    /* アラート非表示の時用 */
    transition-property: padding-top;
    transition-duration:.2s;
    transition-timing-function:ease-out;
    transition-delay:.01s;
}


footer {
    text-align:center;
    height:50px;
    padding: 15px 0 0 0;
    background-color:#eee;
    font-size:small;
}

/* ナビ関係 */

.navbar{
    background-color:white;
    margin:0;
}

.navbar-inverse a.navbar-brand{
    color:#40a800;
    background-color:transparent;
    
    padding:0;
    padding-right:10px;
}

a.navbar-brand > img{
    height:50px;
}
.navbar-inverse .navbar-brand:hover{
    color:#40a800;
}



@media (max-width: 767px){
    /* 小さくなった時の拡張ナビの背景色  */
    .navbar-collapse{
        background-color:white;
    }
    
    /* ボタン内横線 */
    .navbar-inverse .navbar-toggle.collapsed .icon-bar{/* 通常 */
        background-color:#aaa;
    }
    .navbar-inverse .navbar-toggle.collapsed:hover .icon-bar{/* のせた */
        background-color:black;
    }
    .navbar-inverse .navbar-toggle .icon-bar{/* ひらいてる */
        background-color:#aaa;
    }
    .navbar-inverse .navbar-toggle:hover .icon-bar{/* ひらいててのせた */
        background-color:white;
    }
    
    /*ボタン背景*/
    .navbar-header>button.navbar-toggle.collapsed{/* 開いてない */
        background-color:white;
    }
    .navbar-header>button.navbar-toggle.collapsed:hover{/* 開いてなくてのせた */
        background-color:white;
    }
    .navbar-header>button.navbar-toggle{/* 開いている時 */
        background-color:black;
    }
    .navbar-header>button.navbar-toggle:hover{/* 開いててのせた */
        background-color:black;
    }
    
    
    /*展開してるメニューの下のボーダー*/
    .navbar .navbar-collapse.in{
        border-bottom: 1px solid black;
    }
    /*展開しているメニューの中のボーダー*/
    .navbar-form{
        border-width:0;
    }
    
    /*要改善:展開してるメニューの幅が大きくてスクロールバーが出る*/
    .nav.navbar-nav{
        width:100%;
    }
}

/* 普通のli要素 */
.navbar-inverse .navbar-nav>li>a{
    color:#00a0e9;
}
.navbar-inverse .navbar-nav>li>a:hover{
    background-color:#00a0e9;
    color:white;
}



/* ryutamatasuno のせてない時 */
.navbar-inverse .navbar-nav>li.dropdown>a,.navbar-inverse .navbar-nav>li.dropdown>a .caret{
    color:#aaa;
    border-top-color:#aaa;
}
/* ryutamatasuno のせた時 */
.navbar-inverse .navbar-nav>li.dropdown>a:hover,.navbar-inverse .navbar-nav>li.dropdown>a:hover .caret{
    color:black;
    border-top-color:black;
}
/* 開いててのせてないとき  */
.navbar-inverse .navbar-nav>li.dropdown.open>a,.navbar-inverse .navbar-nav>li.dropdown.open>a .caret{
    color:#aaa;
    border-top-color:#aaa;
}
/* 開いててのせたとき  */
.navbar-inverse .navbar-nav>li.dropdown.open>a:hover,.navbar-inverse .navbar-nav>li.dropdown.open>a:hover .caret{
    color:white;
    border-top-color:white;
}



/* ナビバー上のボタン関係  */
.navbtnwrapper{
    margin-top:9px;
    padding-right:5px;
    padding-left:5px;
}
.navbar .navbar-collapse a.btn{
    color:white;
    margin:auto;
    padding:5px 10px;
}

/* 検索フォーム */
form.searchbox input{
    border-radius:17px
}

/* 謎 */

div.links{
    margin-top:5px;
    text-align:right;
}
div.link {
    display:inline-block;
    padding:8px;
    padding-left:0;
}
div.link img {
    height:20px;
}





div.profile{
    margin:0;
    padding:10px;
    text-align:center;
}

/* userPageなどで */
img.icon{
    display:block;
    margin:0 auto;
    text-align:center;
    width:150px;
    height:150px;
    border-radius: 20px;
}


/* アラート表示部分 */

div#alertBlock div.alert{
    position:fixed;
    margin:0;
    z-index:100;
    opacity:1;
    width:100%;
    /*アニメーション指定*/
    transition-property: opacity;
    transition-duration:.5s;
    transition-timing-function:ease-out;
    transition-delay:5s;
    text-align:center; 
}

.alert{
    margin-bottom:0;
}



/* settings でヘッダつきwell*/
div.well-header{
    border-radius:4px 4px 0 0;margin-bottom:0;
}
div.well-header > h3 {
    font-size:1.3em;
    font-weight:bold;
    margin:0 0 10px;
}

div.well-header > p {
    opacity:.8;
}
div.well-contents{
    border-top-width:0;border-radius:0 0 4px 4px;margin-top:0;
}

/* settingのボタン部分  */

a#SettingsSave{
    float:right;
}





/* モーダル画面をカスタマイズ*/

.modal-backdrop.fade.in{
    opacity:.8;
}
.modal-backdrop.fade{
    background-color:white;
}



.name{
    font-size:1.7em;
    font-weight:bold;
    margin:15px 0;
}

h1{
    border-bottom:1px solid black;
    padding-left:10px;
    padding-bottom:5px;
}



div.post{
    padding:20px;
    //box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    border:1px #ddd solid;
}
div.post_title{
    padding:10px 0;
    font-size:1.5em;
}
div.date{
    text-align:right;
    font-size:0.8em;
}

div.post_footer{
    margin-top:1em;
}
div.post_footer a{
    margin-right:1em;
}

/* イベントタイプのjournal用  */
.event{
    padding-top:30px;
    padding-bottom:0px;
    text-align:center;
}
.event .title{
    font-size:1.5em;
    margin-bottom:1em;
}
.event_icon{
    margin-top:0;
    margin-bottom:20px;
}
.event_date{
    color:#222;
    font-size:0.8em;
    text-align:center;
}




/*
もっと読み込む、これ以上の投稿はありません
*/
.post-bottom{
    width: 100%;
    text-align:center;
}




.natural{
    display:block;
    width:100%;
    padding:4px;
    margin:4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}