
/*settingsのテーブル  */
table.setting{
    border-style:none;
}
table.setting td{
    vertical-align: middle !important;
}

table.setting tr > td:first-child{
    width:30%;
}

.natural{
    margin:-4px 0;
}