
<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="list-inline">
                        <li><a href="/">ホーム</a></li>
                        <li><a href="https://www.facebook.com/grapham">facebookページ</a></li>
                        <li>Copyright &copy; 2014 ryutamatsuno All Rights Reserved.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
