<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title><%= title  %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="stylesheet" href='/css/bootstrap.min.css'>
        <link rel="stylesheet" href='/css/common.css'>
        
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/linq.min.js"></script>
        <!-- script src="/js/cryptico.min.js"></script-->
        <script src='/js/lib/jquery.autosize.min.js'></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src="/js/common.js"></script>
        <script type="text/javascript">
            if (window.location.hash && window.location.hash == '#_=_') {
                window.location.hash = '';
            }
        </script>
        <script src="/js/lib/angular.min.js"></script>
        <script src="/js/lib/angular-sanitize.min.js"></script>
        <script src="/js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script>
            var app = angular.module('app', ['ngSanitize','ui.bootstrap']);
            $(function($) {
                $('textarea.autosize').autosize();
            });
            
            function GrobalCtrl($scope,$http){};
            
            
        </script>
        <script type="text/javascript">
            //google
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-42552427-2']);
            _gaq.push(['_trackPageview']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            
        </script>
        <script src="/js/controllers.js"></script>
    </head>
    <body>
        <div  ng-controller="GrobalCtrl" style="height: 100%;">
            <% include navBar.ejs  %>