<div class="navbar navbar-inverse navbar-fixed-top" style="height:51px;">
    <div class="container">
        <div class="navbar-header">
            <!-- 小さくなった時用 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style=""><img src="/img/gre_deer.png">Grapham</a>
            <!-- <p style="display:inline">Grapham</p> -->
        </div>
        
        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
                <li>
                    <form class="navbar-form searchbox" method="get" action="/search">
                        <div class="form-group">
                            <input type="text" name="searchWord" placeholder="検索" class="form-control">
                        </div>
                    </form>
                </li>
                <!--
<li class="active"><a href="/">Home</a></li>
<li><a href="#contact">Contact</a></li>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li class="dropdown-header">Nav header</li>
<li><a href="#">Separated link</a></li>
<li><a href="#">One more separated link</a></li>
</ul>
</li>
-->
            </ul>
            <% if(session._id) { %>
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="https://twitter.com/intent/tweet?in_reply_to=424455385756344320&original_referer=https%3A%2F%2Fwww.grapham.com%2F&tw_p=tweetbutton">デベロッパーにもの申す</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session.username %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">ホーム</a></li>
                        <li><a href="/<%- session.username %>">あなたのページ</a></li>
                        <li><a href="/user/settings">プロフィール設定</a></li>
                        <li class="divider"></li>
                        <li>
                            <form method="post" action="/logout" name="logout">
                                <input type="hidden" name="url" value="neko">
                            </form>
                            <a  href="javascript:void(0);" onclick="document.logout.submit(); return false;">ログアウト</a>
                        </li>
                    </ul>
                </li>
                <li class="navbtnwrapper" ng-show="!(sessiondreams.length == 0)">
                    <a class="btn btn-lg  btn-success" data-toggle="modal" data-target="#myModal" onmouseover="this.style.color='#398439'"
                       onMouseOut="this.style.color='white'">+</a>
                </li>
                
                <li class="navbtnwrapper">
                    <a class="btn btn-lg  btn-info" data-toggle="modal" data-target="#dream-modal" onmouseover="this.style.color='#269abc'"
                       onMouseOut="this.style.color='white'">+</a>
                </li>
            </ul>
            <% }else{ %>
            <div class="navbar-form navbar-right navbtnWrapper">
                <a class="btn btn-lg btn-success"  href="/login/facebook" >サインアップまたはログイン</a>
            </div>
            <% } %>
        </div><!--/.navbar-collapse -->
    </div>
</div>





<div id="alertBlock">
    <% if(message) { %>
    <script>
        $(function(){
            showAlertWithTypeMessage('alert-warning','<%= message %>');
        });
    </script>
    <% } %>
</div>

<!--こっちに移行すること！-->
<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>


<!-- モーダル用 -->
<% if(session._id ){  %>
<!-- 以下ジャーナルポスト用  -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="PostJournalCtrl" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ジャーナルをつける</h4>
            </div>
            <div class="modal-body">
                <form action="" name="postjournalform">
                    <input  type="text" name="displayTitle" class="natural" value="" placeholder="タイトル" style="width:100%" onClick="return true" ng-model="newJournal.displayTitle">
                    <input type="text" style="display:none"><!-- inputでエンターしてもsubmitしないようにするため -->
                    <select ng-model="newJournal.dream"  style="width:100%" ng-options="dream._id as dream.displayTitle for dream in sessiondreams"></select><br>
                    <textarea  name="body" class="natural" placeholder="何をしましたか？" style="min-height:100px;width:100%" ng-model="newJournal.body" required></textarea>
                </form>
            </div>
            <div class="modal-footer">
                {{newJournal.length}}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary post-journal"  ng-disabled="postjournalform.$invalid" ng-click="postNewJournal()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 以下 夢用 -->

<!-- Modal -->
<div class="modal fade" id="dream-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="PostDreamCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新しい夢を登録する</h4>
            </div>
            <div class="modal-body">
                
                <form method="post"  name="postdreamform">
                    <input  id="modal-newDream" type="text" name="modal-newDream" class="natural" value="" placeholder="タイトル" style="width:100%" ng-model="displayTitle" required>
                    <!-- inputでエンターしてもsubmitしないようにするため -->
                    <input type="text" style="display:none">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary post-dream" ng-disabled="postdreamform.$invalid" ng-click="postNewDream()">登録する</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<%}%>

