<% include ../common/header.ejs  %>
<link rel="stylesheet" href='/css/settings.css'>
<style type="text/css">
    
    .main {
        padding-top: 20px;
        padding-bottom:70px !important;
    }
    
    
    
    .name{
        font-size:1.7em;
        font-weight:bold;
        margin:15px 0;
    }
    
    h1{
        border-bottom:1px solid black;
        padding-left:10px;
        padding-bottom:5px;
    }
    
    textarea#description{
        display:block;
        width:100%;
        min-height:100px;
        resize: vertical;
    }
    
    .natural{
        display:block;
        width:100%;
        padding:4px;
        margin:-4px;
    }
    
    
    input, textarea{
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    
    
</style>


<script>
    $(function($){
        $('div#sidebar>div.list-group>a.list-group-item:nth-child(2)').addClass("active");
    });
</script>

<div class="container main">
    <div class="row">
        <% include settings-nav.ejs %>
        
        <div class="col-md-8">
            <div class="well well-header">
                <h3>アイコン</h3>
                <p>アイコンを変更できます。</p>
            </div>
            <div class="well well-contents">
                <div class="profile">
                    <img id="thumbnail" class="icon" src="/<%= data._id %>/icon">
                </div>
                
                <script type="text/javascript">
                    $(function($){
                        $("input#lefile").change(function() {
                            //ファイルがブラウズされたらその結果を表示
                            //いらなくね？
                            console.log("happy");
                            console.log($(this).val());
                            $('input#photoCover').val($(this).val());
                            /*
                        var file = $(this).prop('files')[0];
                        var fr = new FileReader();
                        fr.onload = function() {
                            console.log(fr.result);
                            $('img#thumbnail').attr('src', fr.result);   // 読み込んだ画像データをsrcにセット
                        }
                        fr.readAsDataURL(file);  // 画像読み込み 
                        */
                        });
                    });
                </script>
                
                <div style="text-align:center;">
                    
                    <canvas id="view_canvas" 
                            onmousemove="onCanvasMouseMove(event);"
                            onmousedown="onCanvasMouseDown(event);"
                            onmouseup="onCanvasMouseUp();"
                            onmouseout="onCanvasMouseUp();"
                            style="border:solid 1px black;">
                    </canvas>
                    
                    <br/>
                    <input type="range" id="image_ratio" min="0" max="100" value="0" style="width:320px;"/>
                    <br/>        
                </div>
                
                <form action="/user/icon" enctype="multipart/form-data"  method="post">
                    
                    <!-- ファイルパス表示用 送らないけどまぁ良いでしょ -->
                    <input id="photoCover" type="text" style="width:50%;">
                    <!-- 送信用  -->
                    <input id="DataUrl"  type="hidden" name="DataUrl" value="">
                    <a class="button btn btn-default" onclick="$('input#lefile').click();">ブラウズ</a>
                    <input type="submit" class="button btn btn-primary"  value="アップロード" onclick="trimImage()">
                </form>
                <!-- フォームで送らないので外に出す -->
                <input id="lefile" type="file" name="upfile" style="display:none" onchange="preview(this);">
                <canvas id="trim_canvas" style="border:solid 1px black;display:none;"></canvas>
                
                
                <script src="/js/iconEditor.js"></script>
                
                
                
                
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs  %>