<% include ../common/header.ejs  %>
<link rel="stylesheet" href='/css/settings.css'>
<style type="text/css">
    
    .main {
        padding-top: 20px;
        padding-bottom:70px !important;
    }
    
    
    
    div.profile{
        margin:0;
        padding:10px;
    }
    
    .name{
        font-size:1.7em;
        font-weight:bold;
        margin:15px 0;
    }
    
    h1{
        border-bottom:1px solid black;
        padding-left:10px;
        padding-bottom:5px;
    }
    
    textarea#description{
        display:block;
        width:100%;
        min-height:100px;
        resize: vertical;
    }
    
    .natural{
        display:block;
        width:100%;
        padding:4px;
        margin:-4px;
    }
    
    
    input, textarea{
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    
    
</style>


<script>
    $(function($){
        $('div#sidebar>div.list-group>a.list-group-item:nth-child(3)').addClass("active");
    });
</script>

<div class="container main">
    <div class="row">
        <% include settings-nav.ejs %>
        
        <div class="col-md-8">
            <div class="well well-header">
                <h3>パスワード</h3>
                <p>パスワードを編集します</p>
            </div>
            <div class="well well-contents">
                
                
                <table class="table setting">
                    <tbody>
                        <tr>
                            <td>
                                現在のパスワード
                            </td>
                            <td>
                                <input  type="password" name="nowPassword" class="natural" value="" placeholder="現在のパスワード" >
                            </td>
                        </tr>
                        <tr>
                            <td>
                                新しいパスワード
                            </td>
                            <td>
                                <input  type="password" name="newPassword" class="natural" value="" placeholder="新しいパスワード" >
                            </td>
                        </tr>
                        <tr>
                            <td>
                                新しいパスワード（確認）
                            </td>
                            <td>
                                <input  type="password" name="newPassword2" class="natural" value="" placeholder="新しいパスワード（確認）" >
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                
                
                
                <script>
                    $(function($) {
                        $('a#SettingsSave').click(function() {
                            //パスワードが入力されてるか
                            if($('input[name=nowPassword]').val() == ""){
                                showAlertWithTypeMessage('alert-warning','パスワードを入力してくだいさ');
                                return;
                            }
                            
                            //新しいパスワードは6文字以上か
                            if(($('input[name=newPassword]').val()).length < 6){
                                showAlertWithTypeMessage('alert-warning','パスワードは6文字以上です。');
                                return;
                            }
                            
                            //二回の入力が合致するか
                            if($('input[name=newPassword]').val() != $('input[name=newPassword2]').val()){
                                showAlertWithTypeMessage('alert-warning','新しいパスワードが合致しません');
                                return;
                            }
                            
                            //ポスト
                            $.post('/<%= data.id %>/password', {
                                nowPassword:$('input[name=nowPassword]').val(),
                                newPassword:$('input[name=newPassword]').val()
                            },function(response){
                                if( response.result ){
                                    //成功
                                    showAlertWithTypeMessage('alert-success','変更を保存しました。');
                                } else {
                                    //失敗
                                    showAlertWithTypeMessage('alert-danger','変更を保存に失敗しました。');
                                }
                                $('input[name=nowPassword]').val("");
                                $('input[name=newPassword]').val("");
                                $('input[name=newPassword2]').val("");
                            });
                        });
                    });
                </script>
                
                
                
            </div>
            
            <a id="SettingsSave" class="button btn btn-success" href="javascript:void(0);">変更を保存</a>
        </div>
    </div>
</div>

<% include ../common/footer.ejs  %>