
<div class="col-md-4" id="sidebar" role="navigation">
    <a href="/<%= data.username %>" >
        <div class="well">
            <%= data.displayName %>
            <p style="opacity:.5;text-decoration:none;color:black;">あなたのページを見る</p>
        </div>
    </a>
    <div class="list-group">
        <a href="/user/settings" class="list-group-item">プロフィール</a>
        <a href="/user/settings/icon" class="list-group-item">アイコン</a>
    </div>
</div><!--/span-->
